spring.jpa.hibernate.ddl-auto=create
spring.datasource.url=jdbc:mysql://localhost:3306/db_attempt1
spring.datasource.username=username
spring.datasource.password=password

#spring.datasource.url=jdbc:mysql://localhost:3306/db_attempt1?useSSL=false&allowPublicKeyRetrieval=true
#spring.datasource.username=springuser
#spring.datasource.password=Ironshell45