
.container-fluid{
    position: relative;
    width:100%;
}
#homeBack{
    background-color: azure;
}
.navbar{
    border-color: beige;
    border-radius: 5%;
    border-style:solid;
}
#imagesRow{
    margin-top:3%;
    text-align: center;
    display: none;
}
#logInForm{
    display: table;
    width:40%;
    height:100%;
    margin-top:20%!important;
    max-width:none;
    padding-bottom: 10%;
}
.logInContainer{
    width:30%;
    height:70%;
    padding-right:0;
    padding-left: 0;
    margin-top:10%;
    border-style:solid;
    border-color: lightslategrey;
    border-radius: 2%;
}
.userSettingsBox {
    border-style: solid;
    border-radius: 2%;
    margin-top:0;
    border-color: beige;
    background-color: #f8f9fa;
}
.adText{
    text-align: justify;
}
.adButton{
    margin-top:2%;
}
.usText{
    margin-right:5%;
    text-align: justify;
}
.usImage{
    text-align: center;
    margin-top: 0;
    border-style:hidden;
}
.removePic{
    color:red;
}
.removePic:active{
    color:red;
}
.removePic:hover{
    color:red;
}
.adPics{
padding: 2%;
}
