
.container-fluid{
    position: relative;
    width:100%;
}
#homeBack{
    background-color: azure;
}
.navbar{
    border-color: beige;
    border-radius: 5%;
    border-style:solid;
}
#imagesRow{
    margin-top:3%;
    text-align: center;
}